.p-sidebar .p-sidebar-header {
    padding: 0rem;
}

.p-sidebar .p-sidebar-content {
    padding: 0rem;
}

.p-sidebar {
    background-Color: #16163A;
    border: 'none';
    box-shadow: 0px 0px 0px 0px;
    position: 'absolute';

}

.p-sidebar.p-sidebar-active.p-sidebar-right.ng-star-inserted {
    width: 15%;
}

.logo {
    width: 50%;
    margin-right: 25%;
    margin-top: 15px;
}

// :host ::ng-deep {
//     .innerButtons {
//       .typeButton {
//         font-size: 0.1vmin;
//       }
//     }
//   }
.divTypeButtons{
    position: relative;
}
.inner-button,.inner-button:enabled:hover,.inner-button:enabled:focus{
    // position: absolute;
    display: flex;
    background:none;
    border: none;
    box-shadow: none;
    font-size: 2vmin;
    color:#2F81EF;
    padding-right: 75%;
}

.red {
    .pi-stop:before {
        background-color: red;
        font-size: 1.4vmin;
        color:red;
    }
}

.yellow {
    .pi-stop:before {
        background-color: yellow;
        font-size: 1.4vmin;
        color: yellow;
    }
}

.blue {
    .pi-stop:before {
        background-color: blue;
        font-size: 1.4vmin;
        color: blue;
    }
}

.pink {
    .pi-stop:before {
        background-color: pink;
        font-size: 1.4vmin;
        color:pink ;
    }
}

.iconPlus {
    margin-left: 6%;
    font-size: 1.4vmin;
    right: 9%;
    position: relative;

}

.TaskText {
    position: relative;
    font-size: 1.7vmin;
    text-align: center;
    width: 100%;
}

.addTask {
    .p-button:focus {
        background-color: #2F81EF;
        box-shadow: none;
        outline: none;
        outline-offset: none;
    }

    .p-button {
        background-color: #2F81EF;
        right: 2%;
        width: 95%;
        font-size: 1.5vmin;
        border-radius: 8px;
        padding-right: 5%;
        padding-left: 5%;
        text-align: center;
    }

    .p-button:hover {
        background-color: #428def;
        border-color: #428def;
    }
}

.confine {
    width: 85%;
    margin-right: 15%;
}

@media screen and (max-width: 992px) {
    .TaskText {
        display: none;
    }

    .p-button {

        .iconPlus {
            font-size: 2.4vmin;
            width: 100%;
            right: 0%;
        }
    }
    .inner-button,.inner-button:enabled:hover,.inner-button:enabled:focus{
        padding-right: 65%;
    }
    
}

@media screen and (min-width: 993px) and (max-width:1200px) {
    .TaskText {
        display: none;
    }

    .p-button {
        .iconPlus {
            font-size: 2.4vmin;
            width: 100%;
            right: 0%;
        }
    }
    .inner-button,.inner-button:enabled:hover,.inner-button:enabled:focus{
        padding-right: 65%;
    }
    
}