

@media screen and (max-width: 992px) {
    .TaskText {
        display: none;
    }
    .p-button {
       // top:170%;

        .iconPlus {
            font-size: 2.4vmin;
            padding-right: 30%;  
            width: 10%;
        }
    }
}

@media screen and (min-width: 993px) and (max-width:1200px) {
    .TaskText {
        font-size: 1.8vmin;
    }
    .p-button {
       // top:170%;

        .iconPlus {
            font-size: 1.5vmin;
        }
    }
}

.iconPlus {
    margin-left: 6%;
    font-size: 1.7vmin;
    margin-right: 8%;
    position: relative;
}


.addTask {
    .p-button:focus {
        background-color: #2F81EF;
        box-shadow: none;
        outline: none;
        outline-offset: none;
    }

    .p-button {
        background-color: #2F81EF;
        right: 7%;
        width: 80%;
        font-family: 'Rubik';
        font-size: 1.8vmin;
        border-radius: 8px;
        letter-spacing: -0.5px;
    }

    .p-button:hover {
        background-color: #428def;
        border-color: #428def;
    }
}