.side-bar{
    background-color: #16163A;
}
.a{
    background-color:black ;
}
.logo{
    z-index: 9999;
    position: absolute;
    width: 20%;
    height: 15%;

}
.addTaskButton{
    background-color:#2F81EF ;
    top: 100%;
    position: relative;
    border-radius:8px;
    border: none;
    width: 100%;
    height: 18%;
    color: white;
    font-family: 'Rubik';
}
.addTaskTaxt{
font-size: 110%;
}
.content{
    height: 100%;
   
}