<p-sidebar [visible]="true" [baseZIndex]="10000" [blockScroll]="false" [modal]="false" position="right"
      [showCloseIcon]="false">
      <ng-template pTemplate="header">
            <img class="logo" src="assets/logoVector.png" alt="Image description">
      </ng-template>
      <ng-template pTemplate="content">
            <app-bar-buttons *ngFor="let button of buttons" [label]="button[0]" [icon]="button[2]"
                  (clicked)="navigateTo(button[1])" [isActive]="button[1] === currentRoute"
                  [isTarget]="button[1]=='/targets'" [visibleTypes]="visibleTypes">
            </app-bar-buttons>
            <ng-container class="innerButtons" *ngIf="visibleTypes">
                  <app-target-buttons class="typeButton" *ngFor="let type of typesTarget; let i = index"
                        [label]="type.nvTypeTargetName" [color]=" colors[i % 6]"
                        [type]="type.iTypeTargetId">
                  </app-target-buttons>
            </ng-container>
      </ng-template>
      <ng-template pTemplate="footer">
            <p-button class="addTask" (click)="outPutVisible()">
                  <div class="pi pi-plus iconPlus"></div>
                  <span class="TaskText"> הוספת משימה </span>
            </p-button>
      </ng-template>
</p-sidebar>
<div class="confine">
      <router-outlet></router-outlet>
</div>