.side-bar{
    background-color: #16163A;
}
.a{
    background-color:black ;
}
#logo{
    background-image: url('logo1.jpg');
    z-index: 9999;
    position: absolute;
    width: 47.62px;
    height: 41.45px;
    left: 1294.24px;
    top: 28.5px;
}