$blue3: #1E2959;

.button-collapse {
    color: $blue3;
    background-color: rgba(227, 232, 238, 1);
    border: none;
    border-radius: 8px;
    font-family: 'Rubik';
    font-size: 14.7626px;
    font-weight: 500;
    line-height: 17px;
    text-align: right;
    line-height: 17px;
    width: 96px;
    height: 31px;
}

.button-collapse:disabled {
    color: #BEBFC1;
}

.div-collapse {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 7px 10px;
    gap: 8px;
    position: relative;
    //right:80%;

}

.pi.pi-angle-up.up {
    position: relative;
    right: 10%;
    top: -10%;
    font-size: 0.6rem;
}

.pi.pi-angle-down.down {
    position: relative;
    left: 1.5%;
    top: 10%;
    font-size: 0.6rem;
}

.pi.pi-angle-up.up-close {
    position: relative;
    right: 10%;
    top: 10%;
    font-size: 0.5rem;
}

.pi.pi-angle-down.down-close {
    position: relative;
    left: 1.5%;
    top: -10%;
    font-size: 0.5rem;
}

.answer {
    display: flex;
    align-items: baseline;
    margin-bottom: 15px;
    justify-content: inherit;
    border-bottom: 1px solid #D9D9D9;
    height: 60.22px;
    //padding: 10%;
}

.aaa {
    width: 100%;
    height: 3px;

    background-color: #D9D9D9;
}

.std-details {
    position: absolute;
    width: 200px;
}

.std-name {
    color: $blue3;
}

.branch-name {
    color: #5F6388;
}

.std-ans {
    color: $blue3;
    margin-right: 170px;
}

.profile {
    position: absolute;
    right: 0px;
    top: 10%;
    bottom: 0%;
    background: #57BC83;
    border-radius: 50%;
    height: 38.2px;
    width: 37.4px;
    text-align: center;
    color: white;
    
}
.image{
    width: 100%;
  height: 100%;
  object-fit:cover;
  border-radius: inherit;
}
.nameAndBranch {
    position: absolute;
    right: 60px;
}

/*toggle switch*/
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 19px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 14.83px;
    top:2px;
    width: 14.83px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
   
  input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }