<p-sidebar [(visible)]="sidebarVisible" [modal]="true" [autoZIndex]=true
    (onHide)="this.OutputVisible.emit(this.sidebarVisible)">



    <ng-template pTemplate="content">

        <form [formGroup]='taskForm'>
            <p class="titleText">יצירת משימה חדשה</p>
            <div class="space">
                <!-- <mat-form-field appearance="fill">
                        <mat-label>Select Status</mat-label>
                        <mat-select formControlName="statuses" class="mat-form-field-infix-S">
                            <mat-option >  </mat-option>
                        </mat-select>
                    </mat-form-field> -->
                <p class="textAbove">קטגוריה</p>
                <p-dropdown  formControlName="category" [ngClass]="{'p-invalid': isInvalid('category')}" class="inputs" [options]="category"></p-dropdown>

                <!-- <p class="textAbove">נמען (פעיל)</p>
                <input formControlName="addressee"  class="inputs" type="text" pInputText /> -->

                <p class="textAbove" *ngIf="taskForm.get('category')?.value== 'משימה חינוכית'">סטודנט</p>

                <!-- <p-dropdown formControlName="student"class="inputs custom-dropdown" [options]="students" *ngIf="taskForm.get('category')?.value== 'משימה חינוכית'"></p-dropdown> -->


                <p-dropdown  [options]="students" [ngClass]="{'p-invalid': isInvalid('student')}" formControlName="student"  optionLabel="label" [filter]="true"
                    filterBy="label" [showClear]="false" placeholder="" class="inputs custom-dropdown" *ngIf="taskForm.get('category')?.value== 'משימה חינוכית'">
                    <!-- <ng-template  pTemplate="selectedItem">
                        <div class=" align-items-center gap-2" *ngIf="taskForm.get('student')?.value">
                            <div>{{ taskForm.get('student')?.value.label}}</div>
                        </div>
                    </ng-template>
                    <ng-template let-student pTemplate="item">
                        <div class="">
                            <div>{{ student.label }}</div>
                        </div>
                    </ng-template> -->
                </p-dropdown>

                <p class="textAbove">נושא</p>
                <p-dropdown formControlName="typeTask" class="inputs custom-dropdown"
                    [options]="tasksTypesNames" [ngClass]="{'p-invalid': isInvalid('typeTask')}"></p-dropdown>

                <p class="textAbove">תיאור</p>
                <textarea formControlName="comments" rows="2" cols="22" pInputTextarea [autoResize]="false"
                    class="resize" maxlength="80"></textarea>

                <p class="textAbove">יעד</p>
                <p-dropdown formControlName="target" [ngClass]="{'p-invalid': isInvalid('target')}" class="inputs custom-dropdown"
                    [options]="targetsTypesNames"></p-dropdown>
                    

                <p class="textAbove">תאריך</p>
                <input formControlName="endDate"  class="inputs" type="date" pInputText  [ngClass]="{'p-invalid': isInvalid('endDate')}"  />
                <div class="error-message" *ngIf="taskForm.get('endDate')?.hasError('dateOutOfRange') && taskForm.get('endDate')?.touched">
                    יש להכניס תאריך חוקי
                  </div>
            </div>
        </form>

    </ng-template>
    <ng-template pTemplate="footer">
        <p-button class="send" label="שליחה" (click)="SendData()" [disabled]="taskForm.invalid"></p-button>
    </ng-template>



</p-sidebar>
