// .p-component-overlay .p-sidebar-mask .p-component-overlay-enter{
//     background-color: white;
:host ::ng-deep .p-sidebar {
  background-color: white;
width: 22%;
}

.p-sidebar .p-sidebar-header {
 margin-top: 20vh;
 color: #1E2959;
}
.resize {
  resize: none;
  width: 15vw;
  border-radius: 6px;
border-color: #C2C9D1;
display: flex;

}


:host ::ng-deep .p-button {
  background-color: white;
  color: #1E2959;
  border-color: #1E2959;
  border-radius: 8px;


}

:host ::ng-deep .p-button:focus {
  background-color: #1E2959;
  color: white;
  box-shadow: none;
  border-color: #1E2959;
}

:host ::ng-deep .p-button:hover {
  background-color: #aeb2c4;
  color: white;
  box-shadow: none;
  border-color: #1E2959;


}

.textAbove{
  margin-bottom: 0;
  color: #1E2959;
font-weight: 500;
margin-top: 2vh;
font-size: 1.9vmin;

}
.inputs{
height: 5vh;
border-radius: 6px;
border-color: #C2C9D1;
display: flex;
width: 15vw;
}
.inputs:hover,.resize:hover{
  border-color: #C2C9D1;
  border-width: 1px;
  }
  .inputs:focus,.resize:focus{
    border-color: #C2C9D1;
    box-shadow: 0 0 0 0.1rem #C2C9D1;
    }
.p-dropdown{
  height: 6vh;
  display: flex;


}
.titleText{
  margin-top:2.5vh;
  font-size: 2.2vmin;
  color:#1E2959;
  font-weight: 500;
  text-align: center;
  margin-bottom: 3vh;
}
.space{
  margin-right: 3.5vw;
}

