<div class="background">
    <div class="title-wrap">
        <div class="title">
            <h1 class="title-text">משימות</h1>
            <h4 class="h4-regular">{{sum}} סך הכל</h4>
        </div>
    </div>
    <div class="cover">
        <p-table class="table-style" paginatorDropdownAppendTo="body" [showFirstLastIcon]="false"
            [value]="filteredTasks" [paginator]="true" [rows]="10" [totalRecords]="100"
            [rowsPerPageOptions]="[5,10,15,20]"
            [globalFilterFields]="['iType', 'nvCategory', 'iStudentId','iTargetId', 'iStatus','dtEndDate','nvOrigin']">
            <ng-template pTemplate="header">
                <tr>
                    <th>
                        <span class="tableTitle">נושא </span>
                        <span *ngIf="filterVisible" class="p-input-icon-right ml-auto">
                            <i class="searchIcon pi pi-search"></i>
                            <p-columnFilter class="textFilterArea" matchMode="contains" [showMenu]="false" type="text" field="iType"
                                filterMatchMode="contains" (keyup)="applyFilter()"></p-columnFilter>
                        </span>
                    </th>
                    <th>
                        <span class="tableTitle">קטגוריה </span>
                        <span *ngIf="filterVisible" class="p-input-icon-right ml-auto">
                            <i class="searchIcon pi pi-search"></i>
                            <p-columnFilter class="textFilterArea" matchMode="contains" [showMenu]="false" type="text" field="nvCategory"
                                filterMatchMode="contains" (keyup)="applyFilter()"></p-columnFilter>
                        </span>
                    </th>
                    <th>
                        <span class="tableTitle">שם הסטודנט</span>
                        <span *ngIf="filterVisible" class="p-input-icon-right ml-auto">
                            <i class="searchIcon pi pi-search"></i>
                            <p-columnFilter class="textFilterArea" matchMode="contains" [showMenu]="false" type="text" field="iStudentId"
                                filterMatchMode="contains" (keyup)="applyFilter()"></p-columnFilter>
                        </span>
                    </th>
                    <th>
                        <span class="tableTitle">סוג יעד </span>
                        <span *ngIf="filterVisible" class="p-input-icon-right ml-auto">
                            <i class="searchIcon pi pi-search"></i>
                            <p-columnFilter class="textFilterArea" matchMode="contains" [showMenu]="false" type="text" field="iTargetId"
                                filterMatchMode="contains" (keyup)="applyFilter()"></p-columnFilter>
                        </span>
                    </th>
                    <th>
                        <span class="tableTitle">סטטוס </span>
                        <span *ngIf="filterVisible" class="p-input-icon-right ml-auto">
                            <i class="searchIcon pi pi-search "></i>
                            <p-columnFilter class="textFilterArea" matchMode="contains" [showMenu]="false" type="text" field="iStatus"
                                filterMatchMode="contains" (keyup)="applyFilter()"></p-columnFilter>
                        </span>
                    </th>
                    <th>
                        <span class="tableTitle">תאריך יעד </span>
                        <span *ngIf="filterVisible" class="p-input-icon-right ml-auto">
                            <i class="searchIcon pi pi-search"></i>
                            <p-columnFilter class="textFilterArea" matchMode="contains" [showMenu]="false" type="text" field="dtEndDate"
                                filterMatchMode="contains" (keyup)="applyFilter()"></p-columnFilter>
                        </span>
                    </th>
                    <th>
                        <span class="tableTitle">סוג יעד </span>
                        <span *ngIf="filterVisible" class="p-input-icon-right ml-auto">
                            <i class="searchIcon pi pi-search"></i>
                            <p-columnFilter class="textFilterArea" matchMode="contains" [showMenu]="false" type="text" field="nvOrigin"
                                filterMatchMode="contains" (keyup)="applyFilter()"></p-columnFilter>
                        </span>
                    </th>
                    <th class="thIcon">
                        <div>
                            <button class="visibleFilter pi pi-sort-alt" (click)="toggleFilters()"></button>
                        </div>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-task>
                <tr>
                    <td>{{ task.iType }}</td>
                    <td>{{ task.nvCategory }}</td>
                    <td>{{ task.iStudentId }}</td>
                    <td>{{ task.iTargetId }}</td>
                    <td class="taskStatus">{{ task.nvStatus }}</td>
                    <td>{{ task.dtEndDate| date:'dd.MM.yy' }}</td>
                    <td>{{ task.nvOrigin}}</td>
                    <td></td>
                </tr>
            </ng-template>
        </p-table>
    </div>

</div>