$blue3: #1E2959;
$lightblue-gray: #5F6388;

.p-input-icon-right>i:last-of-type {
  color: #B3B3B3;
  margin-top: 1%;
}

// .p-fluid .p-inputtext {
//   margin-top: 10%;
// }

:host ::ng-deep {

  .p-inputwrapper-filled {
    right: 0%;
    position: absolute;
  }

  .searchIcon {
    z-index: 1000;
    font-size: 1.7vmin;

  }

  .p-inputtext {
    font-weight: 600;
    border-radius: 10px;
    padding-right: 2vw;
    font-size: 2vmin;
  }
  

  .p-fluid .p-inputtext {
    margin-top: 10%;
  }

  .pi-filter-slash:before {
    font-size: 0px;
  }

  .p-inputtext:enabled:focus,
  .p-inputtext:enabled:hover {
    box-shadow: none;
    border-color: #c1d5f0;
  }

  .visibleFilter {
    position: absolute;
    border: none;
    left: 15px;
    margin-top: 3%;
    top: 10px;
    background-color: transparent;
    z-index: 1000;
    font-size: 2vmin;
  }


  .thIcon {
    position: relative;
    padding-top: 2.2%;
  }

  .p-paginator {
    direction: ltr;
    background: none;
    border: none;
    position: relative;
  }

  .p-datatable-wrapper {
    height: 75vh;
  }

  .p-inputwrapper-filled {
    right: 0%;
    position: absolute;
  }
  .p-dropdown {
    border-radius: 10%;
    color: black;
    background-color: #F5F8FD;
    padding: 0px;
  }
  .p-inputtext:enabled:focus,
  .p-inputtext:enabled:hover {
    box-shadow: none;
    border-color: #c1d5f0;
  }
  
  .p-dropdown:not(.p-disabled).p-focus,
  .p-dropdown:not(.p-disabled):hover {
    box-shadow: none;
    border-color: gray;
  }

  .p-paginator .p-dropdown {
    height: 2rem;
  }
  .p-link:focus {
    box-shadow: none;
  }
  
  
  .p-paginator .p-paginator-pages .p-paginator-page {
    height: 1.7rem;
    min-width: 1.7rem;
  }
  
  .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background: #D9D9D9;
    border-radius: 50%;
    font-weight: 600;
    padding: 1%;
  }
  
  .pi-filter-slash:before {
    font-size: 0;
  }
  
}
.status{
  width: 3.5vw;
  height: 1.5vw;
  margin-right: 10%;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  color: white;
 text-align: center;
 padding-top: 3%;

}
@media screen and (max-width: 992px) {
  :host ::ng-deep {
    .tableTitle {
      font-size: 1.7vmin;
    }

    .pi-search:before {
      font-size: 0vmin;
    }

    .table-style {
      height: 100px;
      overflow-y: auto;
    }

    .table-style .p-datatable .p-datatable-thead>tr>th {
      font-size: 2vmin;
    }

    .table-style>tr {
      line-height: 1.5vmin;
      width: 1.5vmin;
    }

    .p-inputtext {
      font-size: 1.7vmin;
    }
  }
}

@media screen and (min-width: 993px) and (max-width:1200px) {
  :host ::ng-deep {

    // .table-style .p-datatable .p-datatable-thead>tr>th {
    //   font-size: 2vmin;

    // }

    // .table-style {
    //   height: 300px;
    //   overflow-y: auto;
    // }

    // .h4-regular {
    //   font-size: 2vmin;
    // }

    // .table-style {
    //   height: 300px;
    //   overflow-y: auto;
    // }

    // .table-style .p-datatable .p-datatable-thead>tr>th {
    //   font-size: 2vmin;

    // }

    // .table-style>tr {
    //   line-height: 20.5vmin;
    //   width: 2.5vmin;
    // }

    // .filters {
    //   position: relative;
    // }

    // .p-inputtext {
    //   font-size: 1.8vmin;
    //   padding-right: 2.2vw;
    // }

    // .visibleFilter {
    //   font-size: 1.7vmin;
    //   margin-top: 2%;
    // }
    .table-style {
      height: 300px;
      overflow-y: auto;
    }
  
    .table-style .p-datatable .p-datatable-thead>tr>th {
      font-size: 2vmin;
   
    }
  
    .table-style>tr {
      line-height: 20.5vmin;
      width: 2.5vmin;
    }
  
    .filters {
      position: relative;
    }
  
    .p-inputtext {
      font-size: 1.8vmin;
      padding-right: 2.2vw;
    }
  
    .visibleFilter {
      font-size: 1.7vmin;
      margin-top: 2%;
    }


  }
}