<div class="title">
  <!-- <label>שלום {{userName}},</label><label>{{userPermission === '2' ? 'רכז': 'הנהלה'}}</label>
    <button *ngIf="userPermission==='2'" (click)="changeBranch()">change branch</button>
    <button *ngIf="userPermission!='2'" >Setting</button>
    <button (click)="logOut()">Exit</button> -->
  <!-- <div class="card flex justify-content-center">
        <p-panelMenu [model]="items" class="custom-panel-menu" [style]="{'width':'300px'}">ננננ</p-panelMenu>
    </div> -->
  <div class="popup-button-container">
    <button mat-button class="popup-button auto-size-button" (click)="toggleMenu()" [matMenuTriggerFor]="menu">
      {{userName}} , סניף {{selectedBranchName}}
    </button>
    <mat-menu #menu="matMenu">
      <p class="bold">{{userName}}</p>
      <p class="bold">{{userEmail}}</p>
      <p class="bold" *ngIf="selectedBranchName!=null && selectedBranchName!=''">סניף {{selectedBranchName}}</p>
      <div *ngFor="let b of lBranches">
      <button mat-menu-item *ngIf="b.nvBranchName!=selectedBranchName" (click)="changeBranch(b)">{{b.nvBranchName}}</button>
    </div>
      <button mat-menu-item (click)="logOut()">יציאה </button>
      <button mat-menu-item *ngIf="userPermission!='2'">הגדרות</button>

    </mat-menu>
  </div>
  <ng-template #defaultContent>,{{userName}}</ng-template>

  <div *ngIf="change">
    <select [(ngModel)]="selectedBranch" (change)="onBranchSelected()">
      <option *ngFor="let b of lBranches" [ngValue]="b">{{b.nvBranchName}}</option>
    </select>

  </div>
</div>