<div class="background">
    <div class="title">
    <h1 class="title-text">משובים</h1>
    <h4 class="sumSurveys h4-regular">{{sum}} סך הכל</h4>
    </div>
<div class="cover">
     <!-- <span class="up-border"></span> -->
    <p-table class="table-style" [value]="surveys">
        <ng-template pTemplate="header" >
            <tr >
                <th>שם המשוב</th>
                <th>תאריך הפצה</th>
                <th>כמות משיבים</th>
                <th>מספר שאלות</th>
                <th>קישור</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-surveys>
            <tr (click)="selectSurvey(surveys.iSurveyId , surveys.nvSurveyName)">
                <td class="h4-medium sname">{{surveys.nvSurveyName}}</td>
                <td >{{surveys.dtEndSurveyDate}}</td>
                <td >{{surveys.iRespondentsCount}}</td>
                <td >{{surveys.iQuestionCount}}</td>
                <td ><a class="h4-regular" href="{{surveys.nvLink}}">{{surveys.nvLink}}</a></td>
            </tr>
        </ng-template>
    </p-table>
</div>
</div>