$blue3:#1E2959;
$lightblue-gray:#5F6388;

.title-text{
width: 55px;
height: 21px;
font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
text-align: right;
letter-spacing: -0.011em;
color: #1E2959;
flex: none;
order: 0;
flex-grow: 0;

}
.sumSurveys{
    width: 64px;
    height: 17px;
    color: $lightblue-gray;
}

.cover{
    position: relative;
    top:20%;
    right: 10%;
    width: 80%;
}

.title{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items:baseline;
    gap: 15%;
    position: absolute;
    width: 10%;
    height: 10%;
    right:10%;
    top:15%;
}

