$blue3:#1E2959;
$lightblue-gray:#5F6388;
#background{
    background-color: #F5F8FD;
    position: absolute;
    width: 85%;
    height: 100%;
    left: 0px;
    top: 0px;
    overflow-y: scroll;
}

#title{
width: 55px;
height: 21px;
font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
text-align: right;
letter-spacing: -0.011em;
color: #1E2959;
flex: none;
order: 0;
flex-grow: 0;

}
#sumSurveys{
    width: 64px;
    height: 17px;
    color: $lightblue-gray;
}

.h4-regular{
font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */

text-align: right;
letter-spacing: -0.011em;
flex: none;
order: 1;
flex-grow: 0;
}

#container{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items:baseline;
    gap: 15%;
    position: absolute;
    width: 10%;
    height: 10%;
    right:10%;
    top:10%;
}

.surveysTable{
    width: 70%;
    position: relative;
    top:20%;
    right: 10%;
    
    // display: flex;
    // justify-content: space-around;
}
.h4-medium{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    // display: flex;
    // align-items: center;
    text-align: right;
}
.sname{
    // width: 187.66px;
    // height: 12.42px;
    color:$blue3;
}
.up-border{
    position: absolute;
    width: 100%;
    border: 2px solid #2F81EF;
    border-radius: 0px 0px 10px 10px;
}
.table-header{
    background-color: #FFFFFF;
    // border-radius: 0px 10px 10px;
}
.p-datatable .p-datatable-thead {
    border-color: #1E2959;
    // border-radius: 10px 10px 10px 10px;
    border-style:inherit;
}
.p-datatable .p-datatable-thead > tr > th {
    background-color: transparent;
     border:unset;
     color: #2F81EF;
     text-align: right;
}
.p-datatable .p-datatable-tbody > tr > td{
 border: unset;
 text-align: right;
}
.table-header {
    .head{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #2F81EF;
    }
}
.p-datatable .p-datatable-tbody > tr{


}
.p-datatable-table {
    border-collapse: separate;
    width: 100%;
    border-spacing: 0 6px !important;
  
}
.table-row .tb-row{
    color:$lightblue-gray;
    text-decoration: none;
}
.table-row{
   border-radius: 10px !important; 
   box-shadow: 0px 2px 2px rgba(97, 97, 97, 0.2) !important;
}


  
  
.table-header th:first-child { border-bottom-right-radius: 10px !important; }
.table-header th:last-child { border-bottom-left-radius: 10px !important; }

.table-row td:first-child { border-top-right-radius: 10px !important;  }
.table-row td:last-child { border-top-left-radius: 10px !important;}  

.table-row td:first-child { border-bottom-right-radius: 10px !important;}
.table-row td:last-child { border-bottom-left-radius: 10px !important; }
