.basis {
    width: 100%;
    margin-top: 15%;
    background-color: transparent;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400%;
    font-size: 2.4vmin;
    text-align: right;
    margin-right: -12px;
    padding-right: 20px;
}

.active {
    border-width: 5px;
    color: #2F81EF;
    border-left: 0px;
    border-top: 0px;
    border-bottom: 0px;
    border-color: #2F81EF;
    border-style: solid;
    box-sizing: border-box;
    margin-right: -16px;
    overflow-y: inherit;
}

.notactive {
    color: azure;
    border: none;
}

.icon {
    margin-left: 10%;
    font-size: 2.4vmin;
}

@media screen and (max-width: 992px) {
    .basis {
        margin-top: 10%;
        margin-bottom: 20%;
        padding-right: 34%;
    }

    .icon {
        top: 10%;
        font-size: 3vmin;
        margin-right: 25%;
    }

    .iconText {
        display: none;
    }

}

@media screen and (min-width: 993px) and (max-width:1200px) {
    .basis {

        margin-top: 12%;
    }

    .icon {
        top: 10%;
        font-size: 1.5vmin;
        margin-left: 5%;
    }

    .iconText {
        font-size: 1.8vmin;
    }

}