.basis {
    width:calc(100% + 30px) ;
    margin-top: 9%;
    background-color: transparent;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400%;
    font-size: 2vmin;
    text-align: right;
    margin-right: -12px;
    padding-right: 20px;
    height: 150%;
}

.active {
    border-width: 5px;
    color: #2F81EF;
    border-left: 0px;
    border-top: 0px;
    border-bottom: 0px;
    border-color: #2F81EF;
    border-style: solid;
    box-sizing: border-box;
    margin-right: -16px;
    overflow-y: inherit;
    height: 20%;
    position: relative;
    background-color: #1c1c4e;
    
}
// .design{
//     border-width: 5px;
//     color: #2F81EF;
//     border-left: 0px;
//     border-top: 0px;
//     border-bottom: 0px;
//     border-color: #2F81EF;
//     border-style: solid;
//    background-color: #1c1c4e;
// }
// .basisDesign{
// padding-bottom: 30%;
// height: 10%;
// }

.notactive {
    color: azure;
    border: none;
}

.icon {
    margin-left: 10%;
    font-size: 2.4vmin;
    padding-top:5%;
    padding-bottom: 5%;
}
.iconText {
    
}

@media screen and (max-width: 992px) {
    .basis {
        margin-top: 40%;
        // margin-bottom: 20%;
        padding-right: 28%;
        padding-top:8% ;
        padding-bottom:8% ;
    }

    .icon {
        top: 10%;
        font-size: 3vmin;
        margin-right: 25%;
    }

    .iconText {
        display: none;
    }

}

@media screen and (min-width: 993px) and (max-width:1200px) {
    // .basis {
    //     margin-top: 12%;
    // }

    // .icon {
    //     top: 10%;
    //     font-size: 1.5vmin;
    //     margin-left: 5%;
    // }

    // .iconText {
    //     font-size: 1.8vmin;
    // }
    .basis {
        margin-top: 25%;
        // margin-bottom: 20%;
        padding-right: 28%;
    }
    .icon {
        font-size: 2.5vmin;
        margin-right: 25%;
        padding-top:10% ;
        padding-bottom:10% ;
    }

    .iconText {
        display: none;
    }
}