/* .bar-button{
    color: rgb(250, 94, 94);
}
.bar-button:focus{
    color: rgb(88, 171, 226);
    
}
.p-button-text{
    border: none;
    color: rgb(0, 0, 0);
} */
.basis{
    width: 90%; 
    margin: 15px;  
    background-color: transparent;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.active{
    color: rgb(35, 155, 196);
    border-left: 1px;
    border-top: 1px;
    border-bottom:1px;
    border-width: 4px;
    border-color: rgb(35, 155, 196)
}
.notactive{
    color: azure;
    border: none;
}















